:root {
  --color-background: #121214;
  --color-primary-lighter:#18181a;
  --color-primary-light:#2b2a2a;
  --color-primary: #201f20;
  --color-primary-dark: #774dd6;
  --color-primary-darker: #6842c2;
  --color-secondary: #333333;
  --color-secondary-dark: #464545;
  --color-title-in-primary: #ffffff;
  --color-text-in-primary: #ffffff;
  --color-text-title: #fff;
  --color-text-complement: #fff;
  --color-text-base: #fff;
  --color-line-in-white: #201F20;
  --color-line-in-white-2: #fff;
  --color-input-background: #201F20;
  --color-button-text: #ffffff;
  --color-box-base: #201f20; 
  --color-box-footer: #201f20;

  font-size: 60%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
}

body {
  background: var(--color-background);
  display: flex;
  align-items: center;
  justify-content: center;
}

body,
input,
button,
textarea {
    font-weight: 500;
    font-family: Poppins;
    font-size: 1.6rem;
    color: var(--color-text-base);
}

#container {
    width: 90vw;
    max-width: 700px;
}

@media (min-width: 700px) {
  :root{
    font-size: 62,5%;
  }
}